.box {
    border: 1px solid black;
    list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #f8f5f1
  ;
  
  }
.con{
    display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  
  float: right;
}

a:link{
    color: rgb(20, 23, 231);
    ;
}
a:visited{
    color:rgb(26, 1, 16);
}
a:hover{
    color:rgb(185, 0, 40);
    background-color: burlywood;

}
a:active{
    color:darkgreen;
    background-color: rgb(145, 82, 0)
}